  <ul class="nav">

<li class="nav-item">
  <a class="nav-link" routerLink="/dashboard">
    <i class="mdi mdi-view-dashboard-outline menu-icon"></i>
    <span class="menu-title">Dashboard</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="/attendance">
    <i class="mdi mdi-airplay menu-icon"></i>
    <span class="menu-title">Attendance</span>
  </a>
</li>
</ul>

 <!-- <li class="nav-item">
      <a class="nav-link" href="pages/tables/members.html">
        <i class="mdi mdi-airplay menu-icon"></i>
        <span class="menu-title">Members</span>
      </a>
    </li>
        <li class="nav-item">
      <a class="nav-link" href="finance.html">
        <i class="mdi mdi-airplay menu-icon"></i>
        <span class="menu-title">Finance</span>
      </a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="pages/widgets/startsession.html">
        <i class="mdi mdi-airplay menu-icon"></i>
        <span class="menu-title">Attendance</span>
      </a>
    </li>
       <li class="nav-item">
      <a class="nav-link" href="pages/forms/workout.html">
        <i class="mdi mdi-airplay menu-icon"></i>
        <span class="menu-title">Workout</span>
      </a>
    </li>
       <li class="nav-item">
      <a class="nav-link" href="pages/widgets/billing.html">
        <i class="mdi mdi-airplay menu-icon"></i>
        <span class="menu-title">Billing</span>
      </a>
    </li>
       <li class="nav-item">
      <a class="nav-link" href="pages/tables/enquiry.html">
        <i class="mdi mdi-airplay menu-icon"></i>
        <span class="menu-title">Enquiry</span>
      </a>
    </li>
       <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="mdi mdi-airplay menu-icon"></i>
        <span class="menu-title">Shopping</span>
      </a>
    </li>
       <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="mdi mdi-airplay menu-icon"></i>
        <span class="menu-title">Social Media</span>
      </a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="pages/forms/support.html">
        <i class="mdi mdi-airplay menu-icon"></i>
        <span class="menu-title">Support</span>
      </a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="pages/samples/blog.html">
        <i class="mdi mdi-airplay menu-icon"></i>
        <span class="menu-title">Blog</span>
      </a>
    </li>-->